<!doctype html>
<html lang="{{ page.lang }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ i18n.title[page.lang] }}</title>
		<meta name="description" content="{{ description }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		<link rel="stylesheet" href="/css/reset.css"> {# https://piccalil.li/blog/a-more-modern-css-reset/ #}
		<link rel="stylesheet" href="/css/mvp.css">
		<link rel="stylesheet" href="/css/custom.css">
		
		{#- Open Graph #}
		{% include "includes/og.njk" %}

		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Rauchfrei" />
		<link rel="manifest" href="/site.webmanifest" />

	</head>
	<body>
		<header>
			<div class="logo">{% include "includes/smoke-free.svg" %}</div>
			<h1>{{ i18n.title[page.lang] }}</h1>
		</header>

		<main>
			<article>
				<nav class="nav-top">
					<span class="lang-icon">{% include "includes/lang.svg" %}</span> {{ i18n.language.switch[page.lang] }} 
					{% if page.lang == "en" %}<a href="/" hreflang="de">DE</a>{% endif %}
					{% if page.lang == "de" %}<a href="/en" hreflang="en">EN</a>{% endif %}
					
					
					{# TODO: This is not working 
					{% for link in page.url | locale_links %}
					{%- if not loop.first %},{% endif %}
					<a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.label}}</a>
					{% endfor %} #}
				</nav>

				<section id="settings">
					{% include "includes/settings.njk" %}
				</section>
				<section id="overview">
					{% include "includes/overview.njk" %}
				</section>

				<nav class="nav-bottom">
					<button id="settings-btn" aria-expanded="true"><span class="btn-icon">{% include "includes/settings.svg" %}</span> {{ i18n.settings.button[page.lang] }}</button>
				</nav>

				<section id="content-wrapper">
					{{ content | safe }}
				</section>
			</article>
		</main>

		<footer>
			<small>
				&copy; {{ helpers.currentYear() }} <a href="https://stebre.ch">stebre.ch</a> <span class"dot">&middot;</span>
				{{ i18n.footer.realized[page.lang] }} <a href="https://www.11ty.dev/">11ty</a> und 
				<a href="https://www.netlify.com/">Netlify</a>
			</small>
		</footer>

		<script type="module" src="/js/currency.js"></script>
		<script type="module" src="/js/calculate.js"></script>
	</body>
</html>