<meta property="og:title" content="{{ i18n.title[page.lang] }}"/>
<meta property="og:description" content="{{ i18n.description[page.lang] }}"/>
<meta property="og:image" content="{{ i18n.url.de }}/img/smoke-free.png"/>
<meta property="og:url" content="{{ i18n.url[page.lang] }}"/>
<meta property="og:site_name" content="{{ i18n.title[page.lang] }}"/>
<meta property="og:type" content="website"/>
<meta name="author" content="stebre.ch"/> 